.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.uploadRejectContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.approveButton,
.rejectButton,
.uploadButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 200px;
  flex: 1;
  text-align: center;
}

.rejectButton {
  background-color: #dc3545;
}

.approveButton:hover,
.rejectButton:hover,
.uploadButton:hover {
  opacity: 0.8;
}